:root {
  --text-opacity: 1;
  --overlay-opacity: 0.1;
  --text-hue: 255, 0, 200;
  --overlay-hue: var(--background-color);

  --black-hue: 0, 0, 0;
  --blue-hue: 48, 115, 221;

  // COLOR OPTIONS
  --black: rgb(var(--black-hue));
  --blue: rgb(var(--blue-hue));

  --text-color: rgba(var(--text-hue), var(--text-opacity));
  --overlay-color: rgba(var(--overlay-hue), var(--overlay-opacity));
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--grad-stops));
  text-shadow: none;
  --grad-stops: var(--grad-from), var(--grad-to);
  --grad-to: transparent;
}

.black { --text-hue: var(--black-hue); }
.blue { --text-hue: var(--blue-hue); }
.brick { --text-hue: var(--brick-hue); }
.cyan { --text-hue: var(--cyan-hue); }
.green { --text-hue: var(--green-hue); }
.orange { --text-hue: var(--orange-hue); }
.pink { --text-hue: var(--pink-hue); }
.purple { --text-hue: var(--purple-hue); }
.red { --text-hue: var(--red-hue); }
.white { --text-hue: var(--white-hue); }
.yellow { --text-hue: var(--yellow-hue); }

.colored {
  --text-color: rgba(var(--text-hue), var(--text-opacity));
  color: var(--text-color);
}
